# EXPLORATORY DATA ANALYSIS

## Business Problem Understanding

Company X is expanding in to new industries to diversify its portfolio. They are particularly interested in purchasing and operating airplanes for commercial and private enterprises. However, they do not have enough knowledge on the potential risks of aircrafts.

**Task** 
- Determine which aircraft are the lowest risk for the company X to start this new endeavor. 
- Translate findings into actionable insights that the stake holders can use to help decide which aircraft to purchase.

## The Data

The data is from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters. 
The dataset was obtained from Kaggle. https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses

### Loading the Data

In [1]:
# import necessary libraries
import pandas as pd

In [9]:
! pip install openpyxl  # add package to open excel files using python

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
   ---------------------------------------- 0.0/251.3 kB ? eta -:--:--
   - -------------------------------------- 10.2/251.3 kB ? eta -:--:--
   - -------------------------------------- 10.2/251.3 kB ? eta -:--:--
   - -------------------------------------- 10.2/251.3 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/251.3 kB 262.6 kB/s eta 0:00:01
   ------ -------------------------------- 41.0/251.3 kB 217.9 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/251.3 kB 297.7 kB/s eta 0:00:01
   ----------- --------------------------- 71.7/251.3 kB 302.7 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/251.3 kB 374.1 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/251.3 kB 374.1 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/251.3 kB 425.3 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/251.3 kB 425.3 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/251.3 kB 471.4 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/251.3 kB 528.4 kB/s eta 0:00:01
   -------------------------------------- 251.3/251.3 kB 532.2 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

In [18]:
df = pd.read_excel("AviationData.xlsx")
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-09-12
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                5 non-null      object
 1   Investigation.Type      5 non-null      object
 2   Accident.Number         5 non-null      object
 3   Event.Date              5 non-null      datetime64[ns]
 4   Location                5 non-null      object
 5   Country                 5 non-null      object
 6   Latitude                1 non-null      object
 7   Longitude               1 non-null      object
 8   Airport.Code            0 non-null      object
 9   Airport.Name            0 non-null      object
 10  Injury.Severity         5 non-null      object
 11  Aircraft.damage         5 non-null      object
 12  Aircraft.Category       0 non-null      object
 13  Registration.Number     5 non-null      object
 14  Make                    5 non-null      object
 15  Model                   5 non-null      object
 16  Amateur.Built           5 non-null      object
 17  Number.of.Engines       4 non-null      float64
 18  Engine.Type             4 non-null      object
 19  FAR.Description         0 non-null      object
 20  Schedule                0 non-null      object
 21  Purpose.of.flight       5 non-null      object
 22  Air.carrier             0 non-null      object
 23  Total.Fatal.Injuries    5 non-null      float64
 24  Total.Serious.Injuries  4 non-null      float64
 25  Total.Minor.Injuries    3 non-null      float64
 26  Total.Uninjured         4 non-null      float64
 27  Weather.Condition       5 non-null      object
 28  Broad.phase.of.flight   5 non-null      object
 29  Report.Status           5 non-null      object
 30  Publication.Date        4 non-null      datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(24)
memory usage: 1.3+ KB

In [19]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64